host-suffix, google.com, proxy
host-suffix, google.nl, proxy
host-suffix, ytimg.com, proxy
host-suffix, discord.gg, proxy
host-suffix, discord.com, proxy
host-suffix, gdhktv.com, direct
host-suffix, itunes.apple.com, direct
host-suffix, hktvyb.vip, direct
host-suffix, tvyb03.com, direct
host-suffix, tvyb04.com, direct
host-suffix, hktv06.com, direct
host-suffix, hktv07.com, direct
host-suffix, bilivideo.com, direct
host-suffix, biliapi.com, direct
host-suffix, bilibili.com, direct
